.markdown-rendered mark, 
.markdown-source-view.mod-cm6 .cm-content mark {
    background-color: #fbff00 !important;
    color: #000000 !important;
    border-radius: 4px !important;
    padding: 0 4px !important;
}

body {
    --highlight-background: #fbff00 !important;
    --highlight-foreground: #000000 !important;
}